nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;

  .nav-brand, .nav-link {
    transition: 0.4s;
    color: $light-color;
    &:hover {
      color: $second-color;
    }
  }
  .nav-list {
    @include flex(row, center, center, 20px);
  }
}
